body{
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  .toggle{
    background-color: black;
    display: flex;
    height: 80px;
    width: 80px;
    color: white; 
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  .toggle > .material-icons
  {
    font-size: 60px;
  }
  .items>a{
      display: flex;
      justify-content: center;
      padding-top: 5vh;
      height: 80px;
      width: 80px;
      background-color:black;
      transform-origin: bottom;
  }
  span {
      content: "\211A";
      font-size: 50px;
      display: flex;
      font-weight: bold;
      color :white;
  }
  span:hover{
    font-size: 70px;
    opacity : 1;
  }